body {
    display:flex;
    flex-direction:column;
    border:0px;
    margin:0;
    flex-shrink:0;
   
}


.header{
    background-color:#1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:150px;
    padding-top: 0px;
    color:white;

    
}
.title {
   
    flex-direction: column;
   
    
}
.bigtext {
    font-size: 24px;
    font-weight: 800;
    font-family: sans-serif;
}

.lists  {
    display:flex;
    justify-content: space-around;
    width:500px;
    color:#E5e7eb;
    font-size: 20px;
}
li {
    
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color:#E5e7eb;
    font-size:18px;
}

.firstpart {
    display:flex;
    justify-content: space-between;
    background-color:#1f2937;
    padding:150px;
    padding-top: 0px;
    color:#E5e7eb;
    
 
}
.button{
    background-color:blue;
    display:flex;
    list-style: none;
    justify-content: center;
    width:100px;
    

}
.left {
    display: flex;
    flex-direction: column;
    padding-right:50px;
   
    

 
}

.secondpart {
    display:flex;
    justify-content: space-evenly;

}







