body {
    display:flex;
    flex-direction:column;
    border:0px;
    margin:0;
    flex-shrink:0;
    font-family: sans-serif;
}


.header{
    background-color:#1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:150px;
    padding-top: 0px;
    color:white;

    
}
.header .bigtext {
    font-size: 24px;
    font-weight: 800;
}
.title {
   
    flex-direction: column;
   
    
}
.main .bigtext  {
    font-size: 48px;
    font-weight: 800;
    
}

.lists  {
    display:flex;
    justify-content: space-around;
    width:500px;
    color:#E5e7eb;
    font-size: 20px;
}
li {
    
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color:#E5e7eb;
    font-size:18px;
}
.firstpart .stuff {
    width: 500px;
}
.secondpart .stuff {
    width: 300px;
}

.firstpart {
    display:flex;
    justify-content: space-between;
    background-color:#1f2937;
    padding:150px;
    padding-top: 0px;
    color:#E5e7eb;
    
 
}
button{
    background-color:#3882f6;
    display:flex;
    list-style: none;
    justify-content: center;
    width:100px;
    border: none;
    border-radius: 8px;
    

}
.left {
    display: flex;
    flex-direction: column;
    padding-right:50px; 
}

.secondpart {
    padding:150px;
    padding-top: 0px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    flex:auto;
    
 

}

.Bigtitle{
    display:flex;
    justify-content: center;
    font-size:36px;
    font-weight: 800;
    color:#1f2937;
    padding:30px;
}


.images {
    display:flex;
    flex-direction: row;
    align-items: center;
   

}
.secondpart .stuff {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding:10px;
}


.rdpart {
    background:#E5e7eb;
    flex-direction: column;
    padding:150px;
    padding-top: 50px;
    display: flex;
 
    
    font-size: 36px;
    font-style:italic;
    font-weight:100;

}

.smalltitle{
    size:300px;
    font-style: normal;
    display:flex;
    align-self: flex-end;
    flex-direction: row;
    font-weight: 700;
    font-size: 30px;
}


.quatro .bbb {
    margin:12px;
    padding:10px;
    border-style: solid;
    border-radius:10px;
    border-color:white;
}
.quatro {
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color:#3882f6;
    margin:100px;
    height: 200px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
   
}
.figtitle{
    font-size: 30px;
    font-weight:800;

}
.thetext {
    color:#E5e7eb;
}

.footer{
    display:flex;
    justify-content: center;
    align-items:center;
    height:60px;
    background-color:#1f2937;
}



