body{
    display:flex;
    flex-direction:column;
    margin:0px;
    
    
}
.header{
    background-color:#1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
}
.bigtext {
    font-size:48px;
    font-weight: 800;
    font-family: sans-serif;
    

}

.lists  {
    display:flex;
    justify-content: space-around;
    width:500px;
  
    font-size: 20px;
}
li {
    list-style-type: none;
    
}
.header a{
    text-decoration: none;
    color:white;
   
}

.lists{
    text-decoration: none;
    
}



